@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
.App {
  min-height: 100vh;
  display: flex;
  background-color: #1a202c;
  color: white;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
